@using MvcCoreSession2023.Helpers
@{
    Persona persona = Context.Session.GetObject<Persona>("PERSONA");
}

<h1>Personas en Session</h1>

@if (persona != null)
{
    <ul class="list-group">
        <li class="list-group-item">
            Nombre: @persona.Nombre
        </li>
        <li class="list-group-item">
            Email: @persona.Email
        </li>
        <li class="list-group-item">
            Edad: @persona.Edad
        </li>
    </ul>
}

<form method="post">
    <label>Nombre: </label>
    <input type="text" name="nombre" class="form-control"/>
    <label>Email: </label>
    <input type="text" name="email" class="form-control"/>
    <label>Edad</label>
    <input type="text" name="edad" class="form-control"/>
    <button class="btn btn-info">
        Almacenar persona Session
    </button>
</form>

<h2 style="color:red">
    @ViewData["MENSAJE"]
</h2>