@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
<h2 style="color:blue">
    Número actual: @Context.Session.GetString("NUMERO")
</h2>
<h2 style="color:red">
    Usuario actual: @Context.Session.GetString("USUARIO")
</h2>
<h2 style="color:fuchsia">
    Hora Session: @Context.Session.GetString("HORA")
</h2>
</div>
